@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(30 41 59 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.avater-img {
  display: grid;
  height: 2rem;
  width: 2rem;
  place-items: center;
  border-radius: 9999px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.blog-card {
  display: flex;
  cursor: pointer;
  /* flex-direction: column; */
  gap: 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: rgb(30 41 59 / 0.4);
  --tw-bg-opacity: 1;
  background-color: rgb(3 3 23 / var(--tw-bg-opacity));
  padding: 0.75rem;
  --tw-shadow-color: rgb(226 232 240 / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.blog-thumb {
  aspect-ratio: 16 / 9;
  max-height: 12rem;
  border-radius: 0.375rem;
  -o-object-fit: cover;
  object-fit: cover;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

body {
  margin: 0;
  line-height: inherit;
}
